# ⚙️ macOS - fichiers système
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# 💣 Fichiers temporaires / logs
tmp/
temp/
*.tmp
*.log
*.bak
*.swp

# 🐘 Environnement PHP / CI
.env
.env.*
.phpunit.result.cache
phpunit.xml
coverage/

# 🧱 CodeIgniter - writable
writable/cache/*
writable/logs/*
writable/session/*
writable/testing/*
writable/uploads/*
writable/debugbar/*
!writable/index.html

# 📦 Composer
/vendor/

# 📁 IDEs (VS Code, PhpStorm, etc.)
.vscode/
.idea/

# 📁 Node (si tu fais du frontend plus tard)
node_modules/
public/build/
public/hot
public/storage
storage/

# 🐘 Dumps de base de données (à ignorer sauf version spécifique)
*.sql
*.sql.gz


public/assets/